<footer class="footer">
    <div class="footer-content">
      <div class="about">
        <h2>Nature Zoo</h2>
        <p>
          Nature Zoo is a 700-acre (280 ha) wildlife sanctuary tucked beneath
          Queensland's mystical Beerwah and Glass House Mountains. This magical
          haven, owned by Terri Irwin, continues the adventurous spirit of her
          late husband, Steve Irwin, whose legacy lives on through the family's
          show, <em>Mysteries of the Wild</em>. Founded in 1970 by Bob and Lyn
          Irwin as Beerwah Reptile and Fauna Park, Nature Zoo has grown into a
          vibrant realm where kangaroos roam freely, crocodiles reign, and every
          visit feels like stepping into a living fairy tale.
        </p>
        </footer>