<footer class="footer">
    <div class="footer-content">
      <div class="about">
        <h2>Nature Zoo</h2>
        <p>
          Nature Zoo is a 700-acre (280 ha) wildlife sanctuary tucked beneath
          Queensland's mystical Beerwah and Glass House Mountains. 
         
         
        </p>
        </footer>