<header class="header">
    <div class="header__title-container">
        <img class="header__image" src="/images/logo.png" alt="logo" height="80px" width="auto">
        <h1 class="header__title">
            <%= locals.title ? title : "Node Rangers" %>
        </div>
</header>