<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Home'}) %>
  <body>
    <%- include('../partials/header') %>
    <%- include("../partials/navigation.ejs") %>
    <div class="main-container">
      <%- include('../partials/sidebar', {allAnimals: allAnimals}) %>
      <main>
        <h1>Welcome to the Animal Page</h1>
        <p>Discover amazing animals and their habitats.</p>
      </main>
    </div>
  </body>
</html>
